html, body {
  height: 100%;
}

body {
  background-color: #b1cbbb;
}

.chart {
  width: 900px;
  background-color: white;
  position: relative;
}

.bar:hover {
  fill: #eea29a;
}

.bar-title {
  font-size: 26px;
}

#tooltip {
  background-color: #deeaee;
  width: 220px;
  height: 70px;
  top: 200px;
}